.visionMission {
    background-color: rgb(13 56 92);
  }
  .eachYear {
    width: 640px;
  }
  .timeHistory {
    background: 0 0 url(../assets/location.png) no-repeat;
    background-size: 32px auto;
    position: relative;
    margin-bottom: 40px;
    padding-left: 56px;
  }
  .timeHistory:not(:last-child):before {
    content: "";
    border-left: 1px dashed #114a7a;
    position: absolute;
    top: 40px;
    bottom: -40px;
    left: 16px;
    width: 0;
  }
  .infoHistory > li::marker {
    color: orange;
  }
  .BuyOrSell {
    background: url(../assets/image0103.png) no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #button-addon2{
    background-color: rgb(24 110 182);
  }

  .close-btn{
    display: block;   
  }

  @media (max-width: 480px) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: -75%; /* Nằm bên trái màn hình và chiếm 75% độ rộng */
      width: 75%;
      height: 100%;
      background-color: #fff;
      z-index: 1000;
      transition: all 0.3s ease;
      padding: 1rem;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho thanh menu */
    }
  
    .navbar-collapse.show {
      left: 0;
    }
  
    .navbar-nav {
      flex-direction: column;
      text-align: center;
      padding: 2rem 0;
    }
  
    .navbar-nav .nav-item {
      padding: 1rem;
    }
  
    .navbar-nav .nav-link {
      padding: 0.5rem 1rem;
    }
  
    .navbar-brand {
      margin-left: 10px; /* Điều chỉnh khoảng cách của logo so với các nội dung khác */
    }
  
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      display: block;
      cursor: pointer;
    }
  
    .navbar-form{
      display: flex;
    }
  
    
  }